.container .container {
    width: 100%;
    height: 100vh;
}

.container .middle {
    padding-left: 4%;
    padding-bottom: 15%;
}

.container h1 {
    margin: 0;
    font-size: calc(100% + 5vmin);

}

.container h2 {
    margin: 0;
    font-size: calc(100% + 2vmin);
}

@media screen and (min-aspect-ratio: 1/1) {
    .container .MIntro_section {
        display: none;
    }

    .container .NIntro_section {
        min-height: 100vh;
        height: fit-content;
        padding: 6% 4%;
        display: flex;
        align-items: center;
        background-color: var(--PaperWhite-color);
    }

    .container .left img {
        width: 40vw;
        height: 80vh;
        /* filter: drop-shadow(-40px 40px 0px #DCDCDC); */
        box-shadow: -40px 40px 0px #DCDCDC;
        object-fit: cover;
    }


}

@media screen and (max-aspect-ratio: 1/1) {
    .container .NIntro_section {
        display: none;

    }

    .container .MIntro_section {
        min-height: 100vh;
        padding: 10% 10%;
        display: flex;
        gap: 3vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--PaperWhite-color);
    }

    .container .MIntro_section .CroppedImage {

        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -1vw 2vw 0px #DCDCDC;

    }

    .container img {
        height: 100%;
    }

    /* .MIntro_section Cro */
}