.Project_Section {
    padding: 5% 15%;
    width: 100%;
    display: flex;
}

.Project_Section .left {
    width: 50%;
    height: fit-content;
    overflow: hidden;
}

.Project_Section .left img {
    width: 100%;
}

.Project_Section .right {
    max-width: 55%;
    height: fit-content;
    padding: 0 5%;
}

.Project_Section .right .title {
    font-size: 1.5rem;
    padding: 2%;
    height: auto;
    background-color: var(--Orange-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    width: 100%;
}

.Project_Section .right .content {

    margin-top: 5%;
    font-size: 1.3rem;
    line-height: 130%;
    padding: 2%;
    height: auto;
    background-color: var(--PaperGrey-color);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Project_Section .right .View_Project_Button {
    margin-top: 6%;
    background-color: var(--Orange-color);
    color: var(--Tag-Color);
}

.Tag_Section ul {
    /* margin-top: 1%; */
    display: flex;
    flex-wrap: wrap;
}

.Tag_Section ul li {
    font-size: 0.9rem;
    border-radius: 0.5em;
    margin-top: 1%;
    margin-right: 2%;
    list-style: none;
    background-color: var(--Tag-Color);
    color: var(--PaperWhite-color);
    padding: 1.7% 2%;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.View_all_Project_BTN {
    margin-left: 45%;
    margin-right: 45%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2%;
}

.View_all_Project_BTN span {

    color: var(--PaperWhite-color);
    font-size: medium;
}

.View_all_Project_BTN img {
    width: 1vh;
}