.container img {
    width: 100%;
    height: 100%;
}

.card__content {
    position: absolute;
    /* other styles (left, top, right, and padding) */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}