.Hamburger_List {
    background-color: var(--Orange-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0;

    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5vh;
    bottom: 0;
}