@media screen and (min-width: 1000px) {
    .nav {
        box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.2);
        position: absolute;
        width: 52px;
        height: 290px;
        background-color: var(--Orange-color);
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 101;
    }

    .nav ul {
        padding: 10px;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .nav ul li img {
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        font-size: large;

        cursor: pointer;
        width: 36px;
        height: 33px;
    }
}

@media screen and (max-width: 1000px) {
    .nav{
        display: none;
    }
}